# Don't copy node_modules
node_modules
# Ignore common folders that we do not need
.next
.idea
.github
.vscode

# ignore the android build folder
android

# ignore env files
.env.local
next-env.d.ts

# ignore service worker files
public/sw.*

# local files
*.local