.button {
  @apply rounded-lg bg-fuchsia-300
    p-1 font-bold
    text-neutral-100
    dark:bg-fuchsia-400 dark:text-fuchsia-900;
}

.button {
  @apply relative flex w-full flex-row items-center justify-center gap-6 rounded-lg
    p-3 px-6 font-bold;
}

.primary {
  @apply bg-fuchsia-500 text-fuchsia-100
    dark:bg-fuchsia-500 dark:text-fuchsia-100;
}

.secondary {
  @apply bg-fuchsia-100 text-fuchsia-500
    dark:bg-fuchsia-300/25 dark:text-fuchsia-200;
}
