.inputWrapper {
  @apply relative flex flex-col gap-1;
}

.inputWrapper input {
  @apply rounded-lg p-3
    
    px-3 transition-all duration-200;
  outline: none;
}

.input {
  @apply overflow-hidden rounded-lg
    border-transparent
    bg-neutral-200 text-neutral-950
    dark:border dark:border-neutral-500
    dark:bg-transparent dark:text-neutral-100
    dark:focus:border-fuchsia-200;
}

.inputError {
  @apply border-red-500
    bg-red-50 text-red-950
    dark:bg-red-900 dark:text-red-50;
}
