.loader {
  @apply flex h-44 w-full
    animate-pulse flex-row
    items-start gap-5
    rounded-lg
    bg-neutral-50 p-4
    shadow-md
    dark:bg-neutral-900
    dark:shadow-md;
  width: 48rem;
}

@media screen and (max-width: 768px) {
  .loader {
    width: 100vw;
  }
}
