.banner {
  @apply absolute top-0 h-full w-full object-cover;
  z-index: -2;
  left: 50%;
  transform: translateX(-50%);
}

.bannerOverlay {
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
}

.icon {
  @apply h-20 w-20 overflow-hidden rounded-full;
}

.description {
  @apply relative flex w-full flex-col items-center overflow-hidden p-4;
}

.descriptionContent {
  @apply rounded-lg p-4 duration-300
    ease-in-out line-clamp-3 transition-all;
}

.mods {
  @apply flex flex-row flex-wrap gap-4;
}

.sort {
  @apply flex flex-row items-center gap-1;
}
