.loginWrapper {
    @apply flex flex-col gap-3 p-4
}

.inputWrapper {
    @apply flex flex-col gap-1
}

.inputWrapper input {
    @apply 
    
    bg-neutral-200 text-neutral-950
    dark:bg-transparent dark:text-neutral-100
    dark:border-neutral-500 dark:border
    dark:focus:border-fuchsia-200

    transition-all duration-200
    
    rounded-lg p-3 px-3;
    outline: none;
}

.button {
    @apply bg-fuchsia-300 text-neutral-100
    dark:bg-fuchsia-400 dark:text-fuchsia-900
    font-bold
    rounded-lg p-1
    ;
}

.button {
    @apply flex flex-row items-center gap-6 p-3 px-6 rounded-lg font-bold
    w-full justify-center relative
    ;
}

.primary {
    @apply 
    bg-fuchsia-500 text-fuchsia-100
    dark:bg-fuchsia-500 dark:text-fuchsia-100
}