
.pageWrapper {
    @apply w-full;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

.wrapper {
    @apply flex flex-col items-center 
    gap-6 justify-center pb-4
    w-full
    max-w-3xl
    max-md:w-full max-md:p-4
    max-sm:p-6
    ;
}

.post {
    @apply flex flex-col items-center gap-2 justify-center w-full;
}

.postHeader {
    @apply flex flex-col gap-2 w-full;
}

.postHeaderMetadata {
    @apply flex flex-row gap-2;
}

.communityImage {
    @apply rounded-full object-cover;
    overflow: hidden;
    height: 50px;
    width: 50px;
}

.communityImage img {
    object-fit: contain;
}

.postHeaderMetadataContent {
    @apply flex flex-col gap-1;
}

.postHeaderMetadataContentUsername {
    @apply flex flex-row items-center flex-wrap;
}

.postHeaderTitle {
    @apply text-xl font-bold
    max-md:text-lg
    ;
}

.postContent {
    @apply w-full;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.postContentText {
    @apply w-full font-normal;
    overflow: hidden;
    overflow-wrap: break-word;
}

.postInteractions {
    @apply flex flex-row gap-6 w-full items-center justify-start ;
    user-select: none;
}

.interaction {
    @apply flex items-center gap-2;
}

.commentsReplies {
    cursor: unset !important;
}

.textarea {
    @apply w-full max-md:hidden
    bg-neutral-50 dark:bg-neutral-900
    text-neutral-900 dark:text-neutral-50
    rounded-lg p-2 flex flex-col items-end
    ;
    position: relative
}

.textarea textarea {
    @apply
    bg-transparent w-full p-2
    ;
    overflow: hidden;
    overflow-wrap: break-word;
    resize: vertical;
    outline: none;
}

.comments {
    @apply w-full flex flex-col gap-6;
    overflow: hidden;
}

.commentsInteractions, .commentsInteractionsSort {
    @apply w-2/3;
    user-select: none;
}

.commentsInteractionsSort {
    @apply flex flex-row gap-2 items-center;
    cursor: pointer;
}

.commentsList {
    @apply flex flex-col gap-6 w-full;
}

.postBodyMedia {
    @apply 
        rounded-lg
        shadow-md
        dark:shadow-none
        max-w-xl
        max-md:w-full
        mb-6
        ;
    overflow: hidden;
}

.postBodyEmbed {
    @apply flex flex-col gap-2
    mb-4 p-2 rounded-lg border
    border-neutral-300 dark:border-neutral-600
    ;
}

.postBodyEmbed a {
    @apply text-xs
}

.postBodyEmbedTitle {
    @apply text-lg font-bold;
}

.postBodyEmbedDescription {
    @apply text-sm font-light;
}

.postBodyEmbedImage {
    @apply rounded-lg overflow-hidden;
}

.spinner {
    background-color: grey;
}

.spinner span {
    border-color: red;
}

.showReply {
    @apply fixed;
}

.hideReply {
    @apply hidden;
}