.pageWrapper {
  @apply w-full;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.wrapper {
  @apply flex w-full max-w-3xl 
    flex-col items-center justify-center
    gap-6
    pb-4
    max-md:w-full max-md:p-4
    max-sm:p-6;
}

.post {
  @apply flex w-full flex-col items-center justify-center gap-2;
}

.postHeader {
  @apply flex w-full flex-col gap-2;
}

.postHeaderMetadata {
  @apply flex flex-row gap-2;
}

.communityImage {
  @apply rounded-full object-cover;
  overflow: hidden;
  height: 50px;
  width: 50px;
}

.communityImage img {
  object-fit: contain;
}

.postHeaderMetadataContent {
  @apply flex flex-col gap-1;
}

.postHeaderMetadataContentUsername {
  @apply flex flex-row flex-wrap items-center;
}

.postHeaderTitle {
  @apply text-xl font-bold
    max-md:text-lg;
}

.postContent {
  @apply w-full;
  overflow: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.postContentText {
  @apply w-full font-normal;
  overflow: hidden;
  overflow-wrap: break-word;
}

.postInteractions {
  @apply flex w-full flex-row items-center justify-start gap-6;
  user-select: none;
}

.interaction {
  @apply flex items-center gap-2;
}

.commentsReplies {
  cursor: unset !important;
}

.textarea {
  @apply flex w-full
    flex-col items-end
    rounded-lg bg-neutral-50
    p-2 text-neutral-900 dark:bg-neutral-900 dark:text-neutral-50 max-md:hidden;
  position: relative;
}

.textarea textarea {
  @apply w-full bg-transparent p-2;
  overflow: hidden;
  overflow-wrap: break-word;
  resize: vertical;
  outline: none;
}

.comments {
  @apply flex w-full flex-col gap-6;
  overflow: hidden;
}

.commentsInteractions,
.commentsInteractionsSort {
  @apply w-2/3;
  user-select: none;
}

.commentsInteractionsSort {
  @apply flex flex-row items-center gap-2;
  cursor: pointer;
}

.commentsList {
  @apply flex w-full flex-col gap-6;
}

.postBodyMedia {
  @apply mb-6
        max-w-xl
        rounded-lg
        shadow-md
        dark:shadow-none
        max-md:w-full;
  overflow: hidden;
}

.postBodyEmbed {
  @apply mb-4 flex flex-col
    gap-2 rounded-lg border border-neutral-300
    p-2 dark:border-neutral-600;
}

.postBodyEmbed a {
  @apply text-xs;
}

.postBodyEmbedTitle {
  @apply text-lg font-bold;
}

.postBodyEmbedDescription {
  @apply text-sm font-light;
}

.postBodyEmbedImage {
  @apply overflow-hidden rounded-lg;
}

.spinner {
  background-color: grey;
}

.spinner span {
  border-color: red;
}

.showReply {
  @apply fixed;
}

.hideReply {
  @apply hidden;
}
