.userDetailsWrapper {
    @apply relative h-fit p-6 py-10 w-full flex items-center mb-10;
    overflow: hidden
}

.banner {
    @apply  max-h-fit absolute w-full h-auto;
    overflow: hidden;
    top: 0; left: 0;
    object-fit: contain;
    opacity: .5;
    z-index: -1;
}

.userDetails {
    @apply flex flex-row mb-6 w-full justify-center 
    max-md:flex-col max-md:p-6 gap-4 items-center;
}

.userAvatar {
    @apply overflow-hidden rounded-full h-20 w-20;
}

.banner img {
    object-fit: contain;
}