@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-neutral-100 dark:bg-neutral-950;
  color: rgb(var(--foreground-rgb));
  overflow-x: hidden;
}

image {
  object-fit: inherit;
}

button {
  user-select: none;
}

.a {
  @apply text-blue-500 hover:text-blue-700;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.dividerDot {
  @apply w-1 h-1 rounded-full bg-neutral-300 dark:bg-neutral-700
  ;
}

.snack {
  @apply flex flex-row p-2 px-4 gap-1 rounded-3xl
  text-xs font-semibold border
  bg-amber-200 text-amber-900 border-amber-900 
}

.snack span {
  @apply text-xs
}

.active {
  @apply bg-red-500
    h-2 w-2 rounded-full
  ;
  position: relative;
  animation: active 3s infinite;
}

.active::after {
  @apply bg-red-500/30
    h-2 w-2 rounded-full blur-sm
  ;
  content: "";
  display:inline-block;
  z-index: -1;
  position: absolute;
  top: 0; left: 0;
  animation: active 3s infinite;
}

@keyframes active {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
}

.filled {
  font-variation-settings: "FILL" 1;
}