.wrapper {
  position: absolute;
  min-width: 200px;
  min-height: 50px;
  z-index: 999;
  pointer-events: none;
  opacity: 0;
  transition: all 0.2s;
}

.active {
  opacity: 1;
  transform: translateY(0%);
  pointer-events: all !important;
}

.activeToTop {
  opacity: 1;
  transform: translateY(-130%);
  pointer-events: all !important;
}

.content {
  @apply flex min-w-max flex-col items-start max-sm:min-w-min;
}

.avatar {
  max-width: unset;
  position: relative;
  object-fit: cover;
}

.userImage {
  @apply h-full w-full;
  width: 48px;
  height: fit-content;
  object-fit: cover;
}

.display_name {
  font-size: 12pt;
}

.name {
  font-size: 10pt;
}
