.wrapper {
  @apply gap-1;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  min-width: 50px;
  user-select: none;
}

.userimage {
  @apply rounded-full;
  overflow: hidden;
  object-fit: cover;
  height: 10px; width: 10px;
}

.hovercatcher {
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
}
