.wrapper {
  @apply flex w-full flex-col;
  position: relative;
}

.header {
  @apply flex w-fit flex-row items-center;
}

.avatar {
  @apply rounded-full;
  overflow: hidden;
}

.username {
  @apply flex flex-row gap-0;
}

.date {
  @apply text-xs text-neutral-400 dark:text-neutral-300;
  user-select: none;
}

.body {
  @apply flex w-full flex-row;
  position: relative;
}

.chainlineWrapper {
  @apply flex items-start justify-center pt-1;
  position: relative;
  cursor: pointer;
  z-index: 10;
  pointer-events: all;
  width: 1.25rem;
}

.chainlineLine {
  @apply rounded-lg;
  position: relative;
  width: 2px;
  height: calc(100% - 12px);
}

.content {
  @apply flex w-fit flex-col justify-start gap-3 font-normal;
}

.comment {
  @apply flex w-full flex-col gap-1;
}

.commentText {
  @apply flex h-full w-full max-w-fit
   overflow-hidden pl-1 text-sm font-normal
   max-sm:max-h-full max-sm:max-w-full max-sm:text-xs;
}

.commentText p:first-of-type {
  @apply mt-0;
}

.commentInteractions {
  @apply flex w-fit flex-row gap-4;
  user-select: none;
}

.interaction {
  @apply flex items-center gap-2;
}
