.wrapper {
    @apply flex flex-col;
    position: relative;
}

.header {
    @apply flex flex-row gap-1 items-center;
}

.avatar {
    @apply rounded-full;
    overflow: hidden;
}

.username {
    @apply flex flex-row gap-0;
}

.date {
    @apply text-neutral-400 dark:text-neutral-300 text-xs
    ;
    user-select: none;
}

.body {
    @apply flex flex-row;
    position: relative;
    height: 100%;
}

.chainlineWrapper {
    @apply flex items-start justify-center w-5 pt-1;
    position: relative;
    cursor: pointer;
    z-index: 10;
    pointer-events: all;
}

.chainlineLine {
    @apply rounded-lg;
    position: relative;
    width: 2px;
    height: calc(100% - 12px);
}

.content {
    @apply flex flex-col gap-3 font-normal justify-start w-full
}

.comment {
    @apply flex flex-col gap-1;
}

.commentText {
    @apply p-1 pt-2 font-normal w-full overflow-hidden;
}

.commentInteractions {
    @apply flex flex-row gap-4;
    user-select: none;
}

.interaction {
    @apply flex items-center gap-2;
}

.upvote, .downvote {
    @apply transition-all duration-100;
    cursor: pointer;
}

.upvote:hover {
    @apply text-fuchsia-300;
}

.downvote:hover {
    @apply text-indigo-300;
}