.wrapper {
    @apply 
        gap-10
        max-md:gap-5
        bg-neutral-50 dark:bg-neutral-950
        border-b 
        border-neutral-200 dark:border-neutral-800
        h-20 top-0 left-0
        max-xs:overflow-x-scroll
        w-full
    ;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 50;
}

.logo {
    @apply text-fuchsia-300 max-md:hidden;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 21pt;
}

.menu {
    @apply flex items-center justify-center h-full
}

.navButton {
    @apply 
    text-neutral-900 bg-neutral-200
    dark:text-neutral-400 dark:bg-neutral-800 rounded-lg
    p-2
    flex flex-row items-center gap-2
    h-full relative
    font-semibold
    transition-all duration-300 ease-out
}

.navButton > div {
    @apply flex items-center gap-1;
}


.navButtonText {
    @apply max-sm:hidden;
}


.filterOptions {
    @apply fixed min-h-max w-full top-20 left-0
    flex flex-col gap-2 p-6 overflow-hidden
    bg-neutral-50  dark:bg-neutral-950
    transition-all duration-300 pointer-events-none ease-out
    ;
    transform: translateY(-100%);
    z-index: 39;
}

.filterActive {
    pointer-events: all;
    transform: translateY(0%);
}

.filterOptions button {
    @apply 
        p-2 rounded-lg
    ;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
    width: 100%;
    cursor: pointer;
    user-select: none;
}

.activeFilterOption {
    @apply 
    font-bold
    bg-fuchsia-100 text-neutral-900
    dark:bg-fuchsia-900 dark:text-neutral-50
    ;
}

.searchWrapper input {
    @apply max-md:w-2/4
}

.searchWrapperActive {
    border-color: white;
}

.searchWrapperActive span {
    @apply text-neutral-50
    dark:text-neutral-900
    ;
}

.searchWrapper span {
    color: grey;
}

.search {
    background-color: transparent;
    padding: .7rem 0;
}

.search:focus {
    outline: none;
}

.submitButton {
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchIcon {
    @apply flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateX(-15%);
    transition: all .25s;
    cursor: pointer;
}

.searchIconActive {
    opacity: 1;
    transform: translateX(0%);
}

.userImage {
    @apply rounded-full w-10 h-10;
    overflow: hidden;
}

.userWrapper {
    @apply flex items-center gap-2
    
    ;
}


.overlay {
    @apply fixed top-0 left-0 w-full  min-h-screen
    bg-neutral-200/50 dark:bg-neutral-900/75
    backdrop-blur-sm
    pointer-events-none
    opacity-0 transition-all duration-300 ease-out
}

.overlayActive {
    @apply pointer-events-auto opacity-100;
    pointer-events: all;
}


.userMenu {
    @apply 
    flex-col gap-6 p-6 h-screen overflow-hidden justify-between

    max-sm:max-w-xs
    max-xs:w-72

    transition-all ease-out duration-300

    bg-neutral-50 dark:bg-neutral-950
    ;
    position: absolute;
    top: 0; right: 0;
    z-index: 51;
    transform: translateX(100%);
    pointer-events: all;
    overflow: hidden;
    display: none;
    
}

.userMenuActive {
    transform: translateX(0%);
}


.userMenuTop {
    @apply flex flex-col gap-4
}

.userProfiles {
    @apply flex flex-row gap-4 overflow-x-scroll overflow-y-hidden w-fit h-fit pb-3
}

.userProfile {
    @apply flex flex-col gap-2 items-start justify-between relative
    w-40 h-52 rounded-lg p-4 bg-transparent
    border-2 
    border-fuchsia-300 dark:border-fuchsia-600
    
    ;
}

.userProfileBanner {
    @apply absolute top-0 left-0 w-full h-full 
    overflow-hidden rounded-lg object-cover;
    z-index: -2;
}

.userProfileBannerOverlay {
    @apply absolute top-0 left-0 w-full h-full 
    bg-transparent backdrop-blur-sm
    ;
    z-index: -1;
}

.userProfileAvatar {
    @apply w-20 h-20 overflow-hidden rounded-full
}

.userProfileText {
    @apply flex flex-col text-sm
    text-neutral-50
}

.userProfileDisplayName {
    @apply font-bold text-xl
}

.userMenuInteractionsTop, .userMenuInteractionsBottom {
    @apply flex flex-col gap-2 w-full
    font-light
}

.userMenuInteractionsTop button, .userMenuInteractionsBottom button {
    @apply  w-64 p-2 rounded-lg
    flex items-center justify-start gap-2
}