.wrapper {
  @apply left-0
        top-0
        h-20 w-full
        gap-10 
        border-b 
        backdrop-blur-xl 
        max-md:gap-5
        max-xs:overflow-x-scroll;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 50;
}

.logo {
  @apply text-fuchsia-300 max-md:hidden;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 21pt;
  user-select: none;
}

.menuButton {
  @apply flex h-full items-center justify-center;
}

.navButton {
  @apply relative flex
    h-full flex-row items-center gap-2
    rounded-lg  p-2 font-semibold
    transition-all
    duration-300
    ease-out ;
}

.navButton > div {
  @apply flex items-center gap-1;
}

.navButtonText {
  @apply max-sm:hidden;
}

.filterOptions,
.sortOptions {
  @apply pointer-events-none fixed left-0 top-20 flex
    min-h-max w-full flex-col gap-2 overflow-hidden p-6
    backdrop-blur-xl
    transition-all duration-300 ease-out ;
  transform: translateY(-100%);
  z-index: 39;
}

.filterActive,
.sortOptionsActive {
  pointer-events: all;
  transform: translateY(0%);
}

.filterOptions button,
.sortOptions button {
  @apply rounded-lg p-2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  width: 100%;
  cursor: pointer;
  user-select: none;
}

.userImage {
  @apply h-10 w-10;
}

.userWrapper {
  @apply flex items-center gap-2;
}

.overlay {
  @apply pointer-events-none fixed left-0 top-0  min-h-screen
    w-full 
    opacity-0
    backdrop-blur-sm
    transition-all duration-300 ease-out;
}

.overlayActive {
  @apply pointer-events-auto opacity-100;
  pointer-events: all;
}
