.wrapper {
    background-color: black;
    border: 1px solid grey;
    border-radius: 12px;
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    max-width: 50rem;
}

.votes {
    display: flex;
    flex-direction: column;
    color: white;
}

.upvote, .downvote {
    cursor: pointer;
}

.upvote:hover {
    color: orange;
}

.downvote:hover {
    color: lightblue;
}


.rightSide {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    min-height: 25px;
    width: 100%;
}

.votes {
    display: flex;
    flex-direction: column;
    gap: 2px;
    flex-wrap: nowrap;
}

.headerContent {
    display: flex;
    flex-direction: column;
    min-height: 25px;
    width: 100%;
}

.headerMetadata {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    min-height: 25px;
    width: 100%;
}

.headerTitle {
    display: flex;
    flex-direction: row;
}

.sub, .user {
    color: grey;
    font-size: 10pt;
}

.user {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 7px;
}

.user {

}

.title {
    color: white;
    font-size: 16pt;
}

.flair {
    display: flex;
    background-color: red;
    border-radius: 100%;
}

.content {
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.body {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-clamp: 1;
    text-overflow: ellipsis;
    overflow: hidden;
}

.contentOverlay {
    position: absolute;
    z-index: 2;
    height: 100%; width: 100%;
    /* linear gradient */
    background: linear-gradient(
        rgba(0, 0, 0, 0.224),
        rgba(0, 0, 0, 1) 110%
    );
}

.image {
    position: relative;
    border-radius: 9px;
    overflow: hidden;
    max-height: 600px;
    width: auto;
    object-fit: cover;
    justify-self: center;
    align-self: center;
}

.communityImage {
    border-radius: 9px;
    overflow: hidden;
    height: 20px;
    width: 20px;
    object-fit: cover !important;
}


.footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 1rem;
}

.footer div {
    display: flex;
    align-items: center;
    gap: 10px;
}