.wrapper {
  @apply max-w-2xl rounded-none border-b border-neutral-300 bg-neutral-50
    text-slate-100 transition-all duration-100 dark:rounded-lg
    dark:border
    dark:border-neutral-800
    dark:bg-neutral-900 hover:dark:border-neutral-700
    max-md:w-full
    max-md:hover:border-neutral-800;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  overflow: hidden;
  width: 100%;
}

.rightSide {
  @apply flex w-full flex-col gap-1;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: row;
  min-height: 25px;
  width: 100%;
}

.votes {
  display: flex;
  flex-direction: column;
  gap: 2px;
  flex-wrap: nowrap;
}

.headerContent {
  display: flex;
  flex-direction: column;
  min-height: 25px;
  width: 100%;
  gap: 0.5rem;
}

.headerMetadata {
  @apply items-center;

  display: flex;
  flex-direction: row;
  gap: 10px;
  min-height: 25px;
  width: 100%;
}

.headerMetadataContent {
  @apply flex h-full flex-row items-center
    gap-2 max-md:flex-col max-md:items-start
    max-md:justify-between
    max-md:gap-1;
}

.dividerDot {
  @apply h-1 w-1 rounded-full bg-neutral-300 dark:bg-neutral-700
    max-md:hidden;
}

.headerTitle {
  @apply gap-2;
  display: flex;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
}

.sub,
.user {
  @apply text-xs;
}

.sub {
  @apply text-neutral-600 dark:text-neutral-300;
}

.user {
  @apply flex
    flex-row items-center gap-1
    text-neutral-500 dark:text-neutral-400
    max-md:flex-row
    max-md:text-xs max-sm:flex-wrap;
  width: 100%;
  display: flex;
}

.title {
  @apply text-left text-xl font-bold text-neutral-900
    dark:text-neutral-100 max-md:text-sm;
}

.flair {
  display: flex;
  background-color: red;
  border-radius: 100%;
}

.content {
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.body {
  @apply w-full text-sm text-neutral-700 line-clamp-5 dark:text-neutral-300;
}

.postBodyEmbed {
  @apply mb-4 flex w-full flex-col
    gap-0 rounded-lg border border-neutral-300
    p-2 text-neutral-800
    dark:border-neutral-600 dark:text-neutral-200;
}

.postBodyEmbed a {
  @apply text-xs;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 9px;
}

.postBodyEmbedTitle {
  @apply text-xs font-bold;
}

.postBodyEmbedDescription {
  @apply text-xs font-light;
}

.contentOverlay {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  @apply bg-gradient-to-b 
        from-neutral-50/30 to-neutral-50/90
        dark:from-neutral-900/50 dark:to-neutral-900/90;
}

.image {
  position: relative;
  border-radius: 9px;
  overflow: hidden;
  width: auto;
  min-height: max-content;
  object-fit: cover;
  justify-self: center;
  align-self: center;
}

.communityImage {
  height: 50px;
  width: 50px;
}

.communityIconFill {
  @apply h-5 w-5 rounded-full bg-neutral-300 dark:bg-neutral-700
    max-md:h-14 max-md:w-14;
}

.footer,
.footerInteractions {
  @apply w-full
    justify-start
    gap-3
    max-md:gap-2;
  display: flex;
  align-items: center;
}

.footer {
  @apply max-md:justify-between;
}

.footerInteractions {
  @apply w-fit;
}

.footerInteractions button {
  @apply gap-3
         rounded-lg
        p-2 
        text-neutral-400
        hover:bg-neutral-100
        hover:dark:bg-neutral-900;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  outline: none;
}
