.wrapper {
  @apply max-w-2xl w-full;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.rightSide {
  @apply flex w-full flex-col gap-1;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: row;
  min-height: 25px;
  width: 100%;
}

.votes {
  display: flex;
  flex-direction: column;
  gap: 2px;
  flex-wrap: nowrap;
}

.headerContent {
  @apply w-full;
  display: flex;
  flex-direction: column;
  min-height: 25px;
  gap: 0.5rem;
}

.headerMetadata {
  @apply w-full;

  display: flex;
  flex-direction: row;
  gap: 10px;
  min-height: 25px;
}

.headerMetadataContent {
  @apply flex h-full flex-row items-center
    gap-2 max-md:flex-col max-md:items-start
    max-md:justify-between
    max-md:gap-1;
}

.sub,
.user {
  @apply text-xs;
}

.user {
  @apply flex
    flex-row items-center gap-1
    
    max-md:flex-row
    max-md:text-xs max-sm:flex-wrap;
  width: 100%;
  display: flex;
}

.title {
  @apply text-left font-bold  max-md:text-sm
    break-words w-full overflow-hidden
    ;
}

.flair {
  display: flex;
  background-color: red;
  border-radius: 100%;
}

.content {
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.body {
  @apply w-full text-sm  line-clamp-5 ;
}

.postBodyEmbed {
  @apply mb-4 flex w-full flex-col
    gap-0 rounded-lg border 
    p-2 
    ;
}

.postBodyEmbed a {
  @apply text-xs;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 9px;
}

.postBodyEmbedTitle {
  @apply text-xs font-bold;
}

.postBodyEmbedDescription {
  @apply text-xs font-light;
}

.contentOverlay {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  @apply bg-gradient-to-b 
        from-neutral-50/30 to-neutral-50/90
        dark:from-neutral-900/50 dark:to-neutral-900/90;
}

.image {
  position: relative;
  border-radius: 9px;
  overflow: hidden;
  width: auto;
  min-height: max-content;
  object-fit: cover;
  justify-self: center;
  align-self: center;
}

.communityImage, .communityIconFill {
  height: 25px;
  width: 25px;
}


.footer,
.footerInteractions {
  @apply w-full
    justify-start
    gap-3
    max-md:gap-2;
  display: flex;
  align-items: center;
}

.footerInteractions {
  @apply w-fit;
}

.footerInteractions button {
  @apply gap-3
         rounded-lg
        p-2 
 ;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  outline: none;
}
