.votesDesktop,
.votesMobile {
  @apply duration-200
    transition-all;
}

.votesDesktop {
  @apply flex;
  flex-direction: column;
  align-items: center;
}

.votesMobile {
  @apply flex items-center
    gap-1;
}

.upvote,
.downvote {
  @apply duration-100 transition-all;
  cursor: pointer;
}
