.votesDesktop,
.votesMobile {
  @apply text-neutral-700 transition-all
    duration-200 dark:text-neutral-300;
}

.votesDesktop {
  @apply flex;
  flex-direction: column;
  align-items: center;
}

.votesMobile {
  @apply flex items-center
    gap-1;
}

.upvote,
.downvote {
  @apply transition-all duration-100;
  cursor: pointer;
}

.upvote:hover {
  @apply text-fuchsia-300;
}

.downvote:hover {
  @apply text-indigo-300;
}
