.markdown {
    @apply prose dark:prose-invert
    prose-img:rounded-lg w-full prose-p:my-1
    prose-a:break-all prose-a:text-ellipsis prose-a:hyphens-auto
    ;
}

.markdown a {
    @apply text-blue-400 hover:text-blue-800
        dark:text-blue-400 dark:hover:text-blue-300
    ;
}


.markdown blockquote {
    @apply 
    border-l-4 p-1 pl-2 italic my-2
    border-neutral-300
    dark:border-neutral-700
    ;
}
