.menu {
  @apply h-screen flex-col justify-start gap-6 overflow-y-auto overflow-x-hidden p-6 backdrop-blur-xl max-sm:max-w-xs max-xs:w-72;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 51;
  pointer-events: all;
  display: flex;
}

.currentInstance {
  @apply flex flex-row items-center justify-between gap-4 rounded-lg  p-4
    py-3;
}

.menuLinks {
  @apply flex w-full flex-col gap-4;
}

.menuLinks button {
  @apply flex w-full flex-row items-center justify-start gap-1;
}

.menuCommunitiesList {
  @apply flex flex-col gap-4;
}

.menuCommunity {
  @apply flex flex-row items-center gap-2  border-b
  p-2
  duration-200 ease-in-out transition-all
  hover:rounded-lg;
}
