.menu {
  @apply h-screen flex-col justify-start gap-6 overflow-hidden bg-neutral-50/75

    p-6
    backdrop-blur-xl

    dark:bg-neutral-950/75 max-sm:max-w-xs

    max-xs:w-72;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 51;
  pointer-events: all;
  overflow: hidden;
  display: flex;
}

.currentInstance {
  @apply flex flex-row items-center justify-between gap-4 rounded-lg bg-neutral-300 p-4
    py-3 text-neutral-900
    dark:bg-fuchsia-800 dark:text-fuchsia-50;
}

.menuLinks {
  @apply flex w-full flex-col gap-4;
}

.menuLinks button {
  @apply flex w-full flex-row items-center justify-start gap-1;
}

.menuCommunitiesList {
  @apply flex flex-col gap-4;
}

.menuCommunity {
  @apply flex flex-row items-center gap-2;
}
