.userMenu {
  @apply h-screen w-80 flex-col justify-between gap-6 overflow-hidden p-6 backdrop-blur-xl max-sm:w-80 max-xs:w-72;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 51;
  pointer-events: all;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
}

.userMenuTop {
  @apply flex flex-col gap-4;
}

.userProfiles {
  @apply flex h-fit min-w-max flex-row gap-4 overflow-y-hidden overflow-x-scroll pb-3;
  user-select: none;
}

.userProfile {
  @apply relative flex h-48 w-40 flex-col items-start
    justify-between gap-2 overflow-hidden rounded-lg border-2 
    bg-transparent 
    p-4;
}

.userProfileBanner {
  @apply absolute left-0 top-0 h-full w-full 
    overflow-hidden rounded-lg object-cover;
  z-index: -2;
}

.userProfileBannerOverlay {
  @apply absolute left-0 top-0 h-full w-full 
    bg-transparent backdrop-blur-sm;
  z-index: -1;
}

.userProfileAvatar {
  @apply h-20 w-20 overflow-hidden rounded-full;
}

.userProfileText {
  @apply flex flex-col text-sm;
}

.userProfileDisplayName {
  @apply text-xl font-bold;
}

.userMenuInteractionsTop,
.userMenuInteractionsBottom {
  @apply flex w-full flex-col gap-0
    font-light;
}

.userMenuInteractionsTop button,
.userMenuInteractionsBottom button {
  @apply flex w-64 items-center
    justify-start gap-2 rounded-lg p-2;
}

.userMenuInteractionsTop a,
.userMenuInteractionsBottom a {
  @apply rounded-lg p-2
  duration-200 ease-in-out transition-all;
}
