.userMenu {
    @apply 
    flex-col gap-6 p-6 h-screen overflow-hidden justify-between

    w-80
    max-sm:w-80
    max-xs:w-72

    bg-neutral-50/75 dark:bg-neutral-950/75

    backdrop-blur-xl
    ;
    position: fixed;
    top: 0; right: 0;
    z-index: 51;
    pointer-events: all;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    
}

.userMenuTop {
    @apply flex flex-col gap-4
}

.userProfiles {
    @apply flex flex-row gap-4 overflow-x-scroll overflow-y-hidden min-w-max h-fit pb-3;
    user-select: none;
}

.userProfile {
    @apply flex flex-col gap-2 items-start justify-between relative
    w-40 h-48 rounded-lg p-4 bg-transparent overflow-hidden
    border-2 
    border-neutral-300 dark:border-neutral-600
    
    ;
}

.userProfileActive {
    @apply border-2 
    border-fuchsia-500 dark:border-fuchsia-400
    ;
}

.userProfileBanner {
    @apply absolute top-0 left-0 w-full h-full 
    overflow-hidden rounded-lg object-cover;
    z-index: -2;
}

.userProfileBannerOverlay {
    @apply absolute top-0 left-0 w-full h-full 
    bg-transparent backdrop-blur-sm
    ;
    z-index: -1;
}

.userProfileAvatar {
    @apply w-20 h-20 overflow-hidden rounded-full
}

.userProfileText {
    @apply flex flex-col text-sm
    text-neutral-50
}

.userProfileDisplayName {
    @apply font-bold text-xl
}

.userMenuInteractionsTop, .userMenuInteractionsBottom {
    @apply flex flex-col gap-2 w-full
    font-light
}

.userMenuInteractionsTop button, .userMenuInteractionsBottom button {
    @apply  w-64 p-2 rounded-lg
    flex items-center justify-start gap-2
}